.login{
    width: 100vw;
    height: 100vh;
}

.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2B2B2B;
    width: 32vw;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 36px;
    padding-bottom: 32px;
    border-radius: 5px;
}

.login-form-title{
    font-size: 32px;
    font-weight: 800;
    color: #1DB954;
    margin: 0;
}

.login-bttn{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 26px;
    position: relative;
    left: 70%;
    padding-right: 26px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    background: #1DB954;
}